header {
    background-color: #f8f8f8;
    border-bottom: 2px solid #f1f1f1;
    padding: 5px;
    margin-bottom: 15px;
}
header .logo img {
    max-height: 70px;
}
header .cart {
    margin-right: 25px;
    width: 50px;
}
header .cart img {
    max-width: 100%;
}
header .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
header .nav-item:hover .nav-link {
    color: #87b838 !important;
}
header .nav-item .nav-link {
    font-weight: bold;
    margin: 0 15px;
}
.slider {
    margin-top: 20px;
    margin-bottom: 20px;
}
.slider img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
}
.card img {
    height: 220px;
    object-fit: contain;
}
.product-details .details-block {
    margin-top: 15px;
}
.details-block h5 {
    border-bottom: 1px solid #ddd;
}
.product-photo {
    background-color: #f7f7f7;
}
.product-photo img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}
.empty-block {
    min-height: 200px;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}
footer {
    background-color: black;
    padding: 10px;
    margin-top: 15px;
}
footer .copyright {
    font-size: 12px;
    color: white;
    text-align: center;
}
.map {
    margin-bottom: 30px;
    border: 10px solid #f0f0f0;
    border-radius: 8px;
}
.order-details h2 {
    color: green;
    text-align: center;
    padding: 30px;
}
.profile-details .info {
    background-color: #f5f5f5;
    padding: 20px;
}
.error-code {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: red;
    margin: 50px 0 0;
}
.error-message {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color: red;
}

.admin header {
    background-color: #237b80;
}